@model SubscriptionManager.Models.Customer.Customers

@{
    ViewBag.Title = "Customers";
}

<h1>Customers</h1>

<div class="pull-right form-group">
    <a data-bind="click:showModifyModal" href='@Url.Action("ModifyCustomer")/?storeId=@Model.StoreId' class="btn btn-primary">Add Customer</a>
</div>

<table class="table table-hover table-bordered" id="CustomerTable">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: customers">
        <tr> 
            <td data-bind="text: FirstName"></td>
            <td data-bind="text: LastName"></td>
            <td data-bind="text: EmailAddress"></td>
            <td data-bind="text: PhoneNumber"></td>
            <td data-bind="text: City"></td>
            <td data-bind="text: State"></td>
            <td data-bind="text: ZipCode"></td>
            <td>
                <div class="btn-group">
                    <a href="#" class="btn btn-default">Actions</a>
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a data-bind="attr: { href: '@Url.Action("Home")/' + CustomerId }">Home</a></li>
                        <li><a data-bind="click: $parent.showModifyModal, attr: { href: '@Url.Action("ModifyCustomer")/' + CustomerId + '/?storeId=' + StoreId }">Edit</a></li>
                    </ul>
                </div>

            </td>
        </tr>
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("/Scripts/ViewModels/Customer/CustomersViewModel.js")
    <script>
        var viewModel = new CustomersViewModel(@Html.HtmlConvertToJson(Model));
        ko.applyBindings(viewModel);
    </script>
    @Scripts.Render("~/Scripts/Customer/Customers.js")


}